.page {
  width: 800px;
  margin: 0 auto 50px;
  .about {
    text-align: center;
    margin-bottom: 64px;

    .img {
      display: block;
      width: 200px;
      aspect-ratio: 1/1;
      border-radius: 100px;
      margin: 30px auto;
      overflow: hidden;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    h2 {
      font-size: 2.8rem;
      font-weight: 700;
      margin-bottom: 16px;
    }

    p {
      font-size: 1.4rem;
      opacity: 0.8;
      text-align: left;
      white-space: pre-line;
    }
  }
}
