.price {
  width: 800px;
  margin: 0 auto;
  padding: 30px 0;
  word-break: break-word;
  overflow-wrap: break-word;
  h3 {
    width: 100%;
    text-align: center;
    padding: 30px 0 20px;
  }
  p {
    width: 100%;
    padding: 0 0 20px;
  }
  .priceTable {
    width: 100%;

    table {
      border-collapse: collapse; // セルのボーダーを重ねる
      width: 800px;
      margin: 0 auto;
      font-family: Arial, sans-serif;
      font-size: 1em;
      color: #ffffff;
      .priceTableTitle{
        padding: 20px 0;
      }

      thead {
        th {
          padding: 10px;
          border: 1px solid #ffffff;
          text-align: left;
          font-weight: bold;
        }
      }

      tbody {
        td {
          padding: 10px;
          border: 1px solid #ffffff;
          text-align: left;
        }
      }
    }
  }
}
